@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v8/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div {
    width: 100%;
}

#sign {
    background-color: #3366ff;
    border: none;
    border-radius: 3px;
    color: white;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.top_nav {
    float: right;
    padding-top: 10px;
    padding-right: 25px;
}

.Block {
    height: 200px;
    width: 100%;
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.searchbox {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 45%;
    border-radius: 30px;
    padding: 15px;
}

.forms {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.button_form {
    display: block;
    border: none;
    color: gray;
    background-color: rgb(242, 242, 242);
    padding: 7px;
    margin: auto;
}

.text {
    display: block;
    margin: auto;
    text-align: center;
}

.country_bar {
    margin-top: 80px;
    background-color: #f2f2f2;
    border-top: 1px solid gray;
    color: gray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#country {
    float: left;
    margin-left: 10px;
}

.bottom_nav {
    background-color: #f2f2f2;
    border-top: 1px solid gray;
    color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left_nav {
    float: left;
}

.right_nav {
    float: right;
}

label {
    font-size: 13px;
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
}

button {
    appearance: none;
    padding: 7px;
}

img {
    display: block;
}

.clearfix {
    overflow: auto;
}